<div class="container main-container login">
  <div class="mx-auto" style="width: 400px;">
    <div>
      <hr>
      <h1>Ingresa a Grader</h1>
      <hr>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="form-control">
      <label for="user">Password</label>
      <input type="password" name="password" id="password" class="form-control">
      <br>
      <button type="button" class="btn btn-primary btn-block">Iniciar</button>
      <hr>
      <small>¿No tienes cuenta?</small>
      <button type="button" class="btn btn-info btn-sm" [routerLink]="['/register']">Registrate</button>
      <hr>
    </div>
  </div>
</div>
