<div class="container main-container">



  <div class="row user" *ngIf="!startedExam && !finishedExam">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre" [(ngModel)]="name">
        <label for="lastname">Apellido</label>
        <input type="text" class="form-control" id="lastname" placeholder="Apellido" [(ngModel)]="lastName">
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="startExam()">Iniciar</button>
    </div>

  </div>
  <div class="exam" *ngIf="!finishedExam">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            {{exam?.name}}
          </div>
          <div class="card-body">
            <app-question-displayer (nextQuestionEvent)="nextQuestion($event)"></app-question-displayer>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row finish" *ngIf="finishedExam">
    <div class="card text-center">
      <div class="card-header">
          {{exam?.name}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Felicidades has terminado el examen!</h5>
        <p class="card-text">Tu calificacion es de... <span>{{result | percent }}</span> </p>
        <a href="#" class="btn btn-success">Enviar resultados</a>
      </div>
      <div class="card-footer text-muted">
        Importante: si no haces click en Enviar resultados y sales de la página, tu resultado se perderá
      </div>
    </div>
  </div>
</div>
