<div class="container main-container">



  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre">
        <label for="lastname">Nombre</label>
        <input type="text" class="form-control" id="lastname" placeholder="Apellido">
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Examen Java Basico
        </div>
        <div class="card-body">
          <h5 class="card-title">Que es Java?</h5>
          <p class="card-text">
            <input type="text" class="form-control" id="answer">
          </p>
          <a href="#" class="btn btn-primary">Siguiente pregunta</a>
        </div>
      </div>
    </div>
</div>

</div>
