<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
      <!-- Sidebar Header -->
      <div class="sidebar-header">
          <h3>Examenes</h3>
      </div>

      <!-- Sidebar Links -->
      <ul class="list-unstyled components">
          <li routerLinkActive="active"><a class="btn btn-outline-primary btn-block" [routerLink]="['my-exams']">Mis examenes</a></li>
          <br>
          <li routerLinkActive="active"><a class="btn btn-outline-primary btn-block" [routerLink]="['shared-exams']">Examenes compartidos</a></li>
          <br>
          <li routerLinkActive="active"><a class="btn btn-outline-primary btn-block" [routerLink]="['new-exam']">Crear Examen</a></li>
          <br>
          <li routerLinkActive="active"><a class="btn btn-outline-primary btn-block" [routerLink]="['reports']">Reportes</a></li>
      </ul>
    </nav>

    <!-- Page Content -->


</div>
