<div class="jumbotron">
  <h1 class="display-4">Grader</h1>
  <p class="lead"> Bienvenido a Grader, hacer y aplicar examenes fácil y gratis </p>
  <hr class="my-4">
  <p>
      Esta aplicacion permite realizar examenes, generar una ruta y enviarla para aplicarlos,
      además de herramientas de análisis y reportes de los aplicantes
  </p>
      <h3>Solamente es necesario registrarse!</h3>

  <div class="columna200">
    <a class="btn btn-primary btn-block" [routerLink]="['/about']" role="button">Más información</a>
    <br> <br>
    <a *ngIf="!_es.isAuthenticated()" (click)="login('google')" class="btn btn-primary btn-block" role="button">Inicia sesión</a>
    <a *ngIf="_es.isAuthenticated()" [routerLink]="['/exams']" class="btn btn-primary btn-block" role="button">Empieza ahora!</a>
  </div>

</div>
