<h4>Nuevo Examen</h4>
<hr>

<div class="row">

<div class="col-md-9">
    <form [formGroup]="forma">

      <div class="form-group row" [ngClass]="{'has-danger': !forma.get('name').valid && !forma.get('name').pristine}">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">

          <input class="form-control"
                 type="text"
                 placeholder="Nombre"
                 formControlName="name">
          <div class="alert alert-danger form-control-feedback" *ngIf="forma.get('name').errors?.required && !forma.get('name').pristine">
           El nombre es requerido
          </div>
          <div class="alert alert-danger form-control-feedback" *ngIf="forma.get('name').errors?.minlength && !forma.get('name').pristine">
           El nombre es de {{forma.get('name').errors?.minlength.requiredLength}} caracteres al menos
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Descripcion</label>
        <div class="col-8">

          <input class="form-control"
                 type="text"
                 placeholder="Descripcion"
                 formControlName="desc">
         <div class="alert alert-danger form-control-feedback" *ngIf="forma.get('desc').errors?.required && !forma.get('desc').pristine">
          La descripcion es requerida
         </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Aleatorias</label>
        <div class="col-md-8">
              <input type="checkbox" class="form-control largerCheckbox"  checked autocomplete="off" formControlName="shuffle">
        </div>
      </div>

      <div class="form-group row">
        <div class="dropdown col-2 col-form-label">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Permisos
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" (click)="setViewer('Todos')">Todos</button>
            <button class="dropdown-item" type="button" (click)="setViewer('Solo yo')">Solo yo</button>
            <button class="dropdown-item" type="button" (click)="setViewer('Grupo especifico')">Grupo especifico </button>
          </div>
        </div>

        <!-- <label class="col-2 col-form-label">Descripcion</label> -->
        <div class="col-8">
          <input class="form-control"
                 readonly
                 type="text"

                 formControlName="viewer">
         <div class="alert alert-danger form-control-feedback" *ngIf="forma.get('viewer').errors?.required && !forma.get('viewer').pristine">
          Debes especificar permisos para este examen
         </div>
        </div>
      </div>

      <!-- {{forma.valid}}
      <br>
      {{forma.status}} -->

    </form>
  </div>

  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-block btn-lg" (click)="guardarCambios()">
      Guardar Examen
    </button>
  </div>

</div>
<hr>

<app-add-question (addQuestionEvent)="updateQuestionsArray($event)" (deleteQuestionEvent)="deleteQuestion($event)"></app-add-question>
